* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #48a1df;
    --secondary-color: #2d5076;
    --accent-color: #4c647a;
    --hover-color: #9da8b4;
    --background-color: #f5f7fa;
    --text-color: #333333;
    --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 2.5rem;
    scroll-behavior: smooth;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    margin-bottom: 10px;
    text-align: left;
}

/* Navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* semi-transparent effect */
    background: var(--accent-color);
    /* stays at top and across the screen full width */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-links {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    gap: 20px;
}

.active {
    color: white;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 4px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}
a {
    text-decoration: none;
    color: #bdbdbd;
    font-weight: 600;
    /* smooth hover transition */
    transition: color 0.3s ease;
}

a:hover,
a:active {
    color: white;
}
.logo img {
    height: 50px;
    width: auto;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.hamburger span {
    height: 3px;
    width: 25px;
    background: beige;
    margin: 4px 0;
}
#menu-toggle {
    display: none;
}

/* Main section styles */
main {
    padding: 40px 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

/* Hero section styles */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: #354a5f;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    height: auto;
    margin-top: 85px;
    padding: 60px 20px;
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: #2d5076 2px 2px 4px;
    color: white;
    text-align: center;
}

.hero p {
    font-size: 1.5rem;
    max-width: 80vw;
    text-shadow: #2d5076 1px 1px 3px;
}

.hero a.btn {
    margin-top: 30px;
}

.hero img {
    width: 80vw;
    max-width: 700px;
    object-fit: cover;
    margin-top: 70px;
}

.homes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.homes h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--primary-color);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.home-card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-grow: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

.home-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.home-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.home-card h3 {
    margin: 15px;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.home-card p {
    margin: 0 15px 15px 15px;
    font-size: 1rem;
    color: var(--text-color);
}

.home-card a {
    display: inline-block;
    margin: 0 15px 15px 15px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: 300ms background-color ease;
}

.home-card a:hover {
    background-color: var(--accent-color);
}

/* Navigation section styles */
.navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
    align-items: center;
}
.nav-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    cursor: pointer;
}
/* Navigation card styles */
.nav-card details {
    text-align: left;
    padding: 10px 0;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
    padding: 10px 0;
    transition: 300ms ease;
}

/* summary marker styles */
summary {
    list-style: none;
}

.nav-card {
    background-color: var(--accent-color);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    text-align: left;
    transition: 300ms ease;
}

.nav-card h3 {
    margin-bottom: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-card p {
    font-size: 1rem;
    color: white;
}

.nav-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.nav-icon {
    margin-left: 8px;
    font-size: 1.2rem;
    transition: 300ms ease;
}

.nav-card:hover .nav-icon {
    color: var(--primary-color);
    transform: scale(1.2);
}

.nav-subcards {
    margin-top: 10px;
    padding-left: 15px;
    border-left: 2px solid white;
}

.nav-subcard h4 {
    margin: 10px 0 5px 0;
    font-size: 1.1rem;
    color: var(--primary-color);
}

.nav-subcard p {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin-bottom: 5px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.row i {
    margin-top: 15px;
}

p.view-more {
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
}
/* Hide the view more text when the summary is open */
details[open] p.view-more {
    display: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 250px;
    text-align: center;
}

.btn:hover {
    background-color: var(--accent-color);
}

/* About Us styles */
.sub-hero {
    padding: 40px 0;
    background-color: var(--background-color);
    border-top: 4px solid var(--primary-color);
}

.sub-hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-color);
    text-align: left;
}

.sub-hero h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: var(--secondary-color);
    text-align: left;
}

.sub-hero p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text-color);
    text-align: left;
    max-width: 600px;
}

.offers {
    margin-top: 30px;
    text-align: left;
}

.offer-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    text-align: left;
}

.offers h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-color);
    text-align: left;
}

.offer-list li::before {
    content: "✓";
    color: var(--primary-color);
    margin-right: 10px;
}

.offer-list li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--text-color);
}

.offer-list li strong {
    color: var(--secondary-color);
}
.extra-info {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    text-align: left;
    max-width: 600px;
    border-left: 4px solid var(--primary-color);
    padding-left: 15px;
}

.how-we-work {
    margin-top: 40px;
    text-align: left;
}
.how-we-work h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}
.how-we-work p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text-color);
    max-width: 600px;
    margin-bottom: 20px;
}
.process-steps {
    list-style: decimal;
    padding-left: 20px;
    max-width: 600px;
}
/* marker */
.process-steps li::marker {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 10px;
}
.process-steps li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--text-color);
    border-left: 4px solid var(--primary-color);
    padding-left: 10px;
    transition: padding-left 0.3s ease;
}
.process-steps li strong {
    color: var(--secondary-color);
}
.process-steps li:hover {
    padding-left: 15px;
}

.cta {
    margin-top: 40px;
    text-align: left;
    padding: 20px;
    max-width: 600px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}
.cta h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}
.cta p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: white;
}
.cta a.btn {
    margin-top: 20px;
    background-color: white;
    color: var(--primary-color);
    width: auto;
    padding: 10px 20px;
}
.cta a.btn:hover {
    background-color: var(--accent-color);
    color: white;
}
.cta strong {
    color: var(--accent-color);
}
/* Technology Page styles */
.why-us {
    margin-top: 40px;
    text-align: left;
}
.why-us h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}
.why-us p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text-color);
    max-width: 600px;
    margin-bottom: 20px;
}
.reasons-list {
    list-style: disc;
    padding-left: 20px;
    max-width: 600px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.reasons-list li::marker {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 10px;
}
.reasons-list li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--text-color);
    transition: padding-left 0.3s ease;
}
.reasons-list li:hover {
    padding-left: 15px;
}
.reasons-list li strong {
    color: var(--secondary-color);
}
ul.extra-info {
    display: flex;
    flex-direction: column;
}
.extra-info li::before {
    content: "✓";
    color: var(--primary-color);
    margin-right: 10px;
}
.extra-info li {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
}

.contact-info {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    text-align: left;
    max-width: 600px;
    border-left: 4px solid var(--primary-color);
    padding-left: 15px;
}
.contact-info strong {
    color: var(--secondary-color);
}
.contact-info a {
    color: var(--primary-color);
    text-decoration: none;
}
.contact-info a:hover {
    text-decoration: underline;
}
.contact-info p {
    margin-bottom: 10px;
}
.info-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.contact-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    max-width: 600px;
    border: 2px solid var(--primary-color);
    padding: 20px;
    border-radius: 8px;
}
.contact-form label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    text-align: left;
    margin-bottom: 5px;
}
label.required::after {
    content: " *";
    color: red;
}
label.optional::after {
    content: " (optional)";
    color: gray;
    font-weight: normal;
    font-size: 0.9rem;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: var(--font-family);
    width: 100%;
    resize: vertical;
}
.contact-form button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    align-self: flex-end;
}
.contact-form button:hover {
    background-color: var(--accent-color);
}
/* Footer styles */
footer {
    background-color: var(--accent-color);
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 5px 0;
    font-size: 1rem;
}
/* js animations */
.changing-word {
    display: inline-block;
    position: relative;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-out {
    opacity: 0;
    transform: translateY(-10px);
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 900px) {
    body {
        margin: 0;
    }

    .home-card.last img {
        height: 200px;
    }

    .mobile-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .hero img {
        max-width: 500px;
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    /* Navbar styles */
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .hamburger span {
        height: 3px;
        width: 25px;
        border-radius: 10px;
        background: var(--primary-color);
        margin: 4px 0;
        transition: all 0.3s ease;
        transform-origin: center;
    }
    #menu-toggle {
        display: none;
    }
    .nav-links {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding: 0;
        gap: 15px;
        background: RGB(76, 100, 122, 0.8); /* Adjusted for better visibility */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 1.2rem;
    }

    #menu-toggle:checked ~ .nav-links {
        /* this will show the menu */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        width: 100%;
        z-index: 1000;
    }

    #menu-toggle:checked ~ .nav-links ul {
        flex-direction: column;
        width: 100%;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    /* transform menu to make an X out of a hamburger style */
    /*rotate and move top line*/
    #menu-toggle:checked + .hamburger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 10px);
    }
    /*use this transform of the middle span (child (2)) to hide it*/
    #menu-toggle:checked + .hamburger span:nth-child(2) {
        opacity: 0;
    }
    /*rotate and move bottom line*/
    #menu-toggle:checked + .hamburger span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -10px);
    }
    .home-card.last img {
        height: 150px;
    }
}
