* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #48a1df;
    --secondary-color: #2d5076;
    --accent-color: #4c647a;
    --hover-color: #9da8b4;
    --background-color: #f5f7fa;
    --text-color: #333333;
    --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 2.5rem;
    scroll-behavior: smooth;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

/* Navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* semi-transparent effect */
    background: var(--accent-color);
    /* stays at top and across the screen full width */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-links {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    gap: 20px;
}

.active {
    color: white;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 4px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}
a {
    text-decoration: none;
    color: #bdbdbd;
    font-weight: 600;
    /* smooth hover transition */
    transition: color 0.3s ease;
}

a:hover,
a:active {
    color: white;
}
.logo img {
    height: 50px;
    width: auto;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.hamburger span {
    height: 3px;
    width: 25px;
    background: beige;
    margin: 4px 0;
}
#menu-toggle {
    display: none;
}

/* Main section styles */
main {
    padding: 40px 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

/* Hero section styles */
.hero {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: #354A5F;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: #2d5076 2px 2px 4px;
    color: white;
}

.hero p {
    font-size: 1.5rem;
    max-width: 80vw;
    text-shadow: #2d5076 1px 1px 3px;
}

.hero a.btn {
    margin-top: 30px;
}

.hero img {
    width: 80vw;
    max-width: 700px;
    object-fit: cover;
}

.homes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.homes h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--primary-color);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.home-card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-grow: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

.home-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.home-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.home-card h3 {
    margin: 15px;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.home-card p {
    margin: 0 15px 15px 15px;
    font-size: 1rem;
    color: var(--text-color);
}

.home-card a {
    display: inline-block;
    margin: 0 15px 15px 15px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: 300ms background-color ease;
}

.home-card a:hover {
    background-color: var(--accent-color);
}

/* Navigation section styles */
.navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
    align-items: center;
}
.nav-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    cursor: pointer;
}
/* Navigation card styles */
.nav-card details {
    text-align: left;
    padding: 10px 0;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
    padding: 10px 0;
    transition: 300ms ease;
}

/* summary marker styles */
summary {
    list-style: none;
}

.nav-card {
    background-color: var(--accent-color);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    text-align: left;
    transition: 300ms ease;
}

.nav-card h3 {
    margin-bottom: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-card p {
    font-size: 1rem;
    color: white;
}

.nav-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.nav-icon {
    margin-left: 8px;
    font-size: 1.2rem;
    transition: 300ms ease;
}

.nav-card:hover .nav-icon {
    color: var(--primary-color);
    transform: scale(1.2);
}

.nav-subcards {
    margin-top: 10px;
    padding-left: 15px;
    border-left: 2px solid white;
}

.nav-subcard h4 {
    margin: 10px 0 5px 0;
    font-size: 1.1rem;
    color: var(--primary-color);
}

.nav-subcard p {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin-bottom: 5px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.row i {
    margin-top: 15px;
}

p.view-more {
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
}
/* Hide the view more text when the summary is open */
details[open] p.view-more {
    display: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 250px;
    text-align: center;
}

.btn:hover {
    background-color: var(--accent-color);
}

/* Design gallery styles */
.design-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.design-card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-grow: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

.design-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.design-card h3 {
    margin: 15px;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.design-card p {
    margin: 0 15px 15px 15px;
    font-size: 1rem;
    color: var(--text-color);
    max-width: 300px;
}
.design-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.custom-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
    background-color: var(--primary-color);
    padding: 30px;
}
.custom-design h2 {
    color: white;
    font-size: 2rem;
    text-shadow: #2d5076 2px 2px 4px;
}
.custom-design p {
    color: white;
    max-width: 600px;
    font-size: 1.2rem;
    text-shadow: #2d5076 1px 1px 3px;
}
.custom-design a.btn {
    margin-top: 20px;
    background-color: var(--secondary-color);
}
.custom-design a.btn:hover {
    background-color: var(--accent-color);
}

/* About us page */
.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.overview h2 {
    font-size: 2rem;
    color: var(--primary-color);
}

.overview p {
    font-size: 1.1rem;
    color: var(--text-color);
    max-width: 600px;
    line-height: 1.6;
}

.philosophy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin: 20px 0;
    padding: 15px;
    background-color: var(--accent-color);
}
.philosophy h2 {
    font-size: 2rem;
    color: white;
}
.philosophy p {
    font-size: 1.1rem;
    color: white;
    max-width: 600px;
    line-height: 1.6;
}

.beyond-homes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin: 20px 0;
}
.beyond-homes h2 {
    font-size: 2rem;
    color: var(--primary-color);
}
.beyond-homes p {
    font-size: 1.1rem;
    color: var(--text-color);
    max-width: 600px;
    line-height: 1.6;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.card {
    background-color: var(--accent-color);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    padding: 15px;
    flex-grow: 1;
    min-width: 250px;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.custom-designs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
}
.custom-designs h2 {
    font-size: 2rem;
}
.custom-designs p {
    max-width: 600px;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    gap: 15px;
    background-color: var(--primary-color);
    padding: 30px;
}
.cta h2 {
    color: white;
    font-size: 2rem;
    text-shadow: #2d5076 2px 2px 4px;
}
.cta p {
    color: white;
    max-width: 600px;
    font-size: 1.2rem;
    text-shadow: #2d5076 1px 1px 3px;
}
.cta a.btn {
    margin-top: 20px;
    background-color: var(--secondary-color);
}
.cta a.btn:hover {
    background-color: var(--accent-color);
}

/* Footer styles */
footer {
    background-color: var(--accent-color);
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 5px 0;
    font-size: 1rem;
}

@media (max-width: 900px) {
    body {
        margin: 0;
    }

    .home-card.last img {
        height: 200px;
    }

    .mobile-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .hero img{
        max-width: 500px;
    }
}

@media (max-width: 768px) {
    /* Navbar styles */
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .hamburger span {
        height: 3px;
        width: 25px;
        border-radius: 10px;
        background: var(--primary-color);
        margin: 4px 0;
        transition: all 0.3s ease;
        transform-origin: center;
    }
    #menu-toggle {
        display: none;
    }
    .nav-links {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding: 0;
        gap: 15px;
        background: RGB(76, 100, 122, 0.8); /* Adjusted for better visibility */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 1.2rem;
    }

    #menu-toggle:checked ~ .nav-links {
        /* this will show the menu */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        width: 100%;
        z-index: 1000;
    }

    #menu-toggle:checked ~ .nav-links ul {
        flex-direction: column;
        width: 100%;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    /* transform menu to make an X out of a hamburger style */
    /*rotate and move top line*/
    #menu-toggle:checked + .hamburger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 10px);
    }
    /*use this transform of the middle span (child (2)) to hide it*/
    #menu-toggle:checked + .hamburger span:nth-child(2) {
        opacity: 0;
    }
    /*rotate and move bottom line*/
    #menu-toggle:checked + .hamburger span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -10px);
    }
    .home-card.last img {
        height: 150px;
    }
}
